fastapi
uvicorn
gunicorn
yfinance
nest_asyncio
vaderSentiment
protobuf==5.29.6 
google-adk
# google-adk[extensions] 
litellm
# Development dependencies
pytest
pytest-mock
pytest-asyncio
pytest-benchmark
